.home {
  height: 100vh;
  .home-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home-intro {
      i {
        text-align: center;
        padding-bottom: 2rem;
        font-size: 29px;
        background: linear-gradient(to right, #00d2ff, #928dab);
        background-clip: text;
        color: transparent;
      }
      padding-bottom: 14%;
      text-align: center;
    }
    .container {
      width: 280px;
      border-radius: 17px;
      display: flex;
      justify-content: center;
      box-shadow: 13px 13px 29px #282a2b, -13px -13px 29px #383b3d;
      &:hover,
      &:active {
        h3 {
          background: linear-gradient(to right, #00d2ff, #928dab);
          color: transparent;
          background-clip: text;
        }
      }
      .sub-container {
        padding: 2rem;
        text-align: center;
        .about {
          span {
            letter-spacing: 1px;
            font-size: 19px;
            background: linear-gradient(to right, #00d2ff, #928dab);
            color: transparent;
            background-clip: text;
            display: block;
            padding-bottom: 1.5rem;
          }
          p {
            font-size: 13px;
            text-align: justify;
            line-height: 1.6;
          }
        }
        h3 {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}
@media (min-width: 838px) {
  .home {
    .home-body {
      .container {
        width: 400px;
        padding: 0 1.5rem;
        .sub-container {
          .about {
            p {
              font-size: 16px;
            }
          }
          h3 {
            font-size: 24px;
          }
        }
      }
      .about-container {
        .about-sub-container {
          padding: 2.4rem 0;
        }
      }
    }
  }
}
@media (max-width: 482px) {
  .home {
    .home-body {
      .home-intro {
        width: 300px;
      }
    }
  }
}
